In [7]:
import numpy as np
import pandas as pd
import pyreadr

import geopy
import pandas as pd

In [2]:
def get_zipcode(df, geolocator, lat_field, lon_field):
    location = geolocator.reverse((df[lat_field], df[lon_field]))
    return location.raw['address']['postcode']

In [3]:
geolocator = geopy.Nominatim(user_agent='my-application')

In [4]:
df = pd.DataFrame({
    'Lat': [29.39291, 29.39923, 29.40147, 29.38752, 29.39291, 29.39537, 29.39343, 29.39291, 29.39556],
    'Lon': [-98.50925, -98.51256, -98.51123, -98.52372, -98.50925, -98.50402, -98.49707, -98.50925, -98.53148]
})

In [5]:
zipcodes = df.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='Lat', lon_field='Lon')

In [6]:
zipcodes

0    78204
1    78204
2    78204
3    78225
4    78204
5    78204
6    78204
7    78204
8    78225
dtype: object

In [8]:
result = pyreadr.read_r('Data_ALL.RData')
df_crime = result['df_crime']

In [36]:
crime_zips = df_crime.head(255)[['Latitude', 'Longitude']]
crime_zips = crime_zips.replace('', np.nan)
crime_zips = crime_zips.dropna()

In [41]:
df_crime.head(255)[['Latitude', 'Longitude']]

      Latitude  Longitude
0    40.827414 -73.877946
1    40.637097 -74.006105
2    40.679260 -73.841500
3    40.687402 -73.940369
4    40.831576 -73.942983
..         ...        ...
250  40.645361 -74.004686
251  40.659250 -73.738743
252  40.752755 -73.942065
253  40.706871 -73.814520
254  40.899228 -73.853654

[255 rows x 2 columns]

In [42]:
crime_zips

      Latitude  Longitude
0    40.827414 -73.877946
1    40.637097 -74.006105
2    40.679260 -73.841500
3    40.687402 -73.940369
4    40.831576 -73.942983
..         ...        ...
245  40.759768 -73.989811
246  40.901679 -73.906112
247  40.760919 -73.879710
248  40.761513 -73.980361
249  40.684462 -73.977751

[246 rows x 2 columns]

In [43]:
zipcodes = crime_zips.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='Latitude', lon_field='Longitude')

KeyError: ('postcode', 'occurred at index 248')

In [26]:
zipcodes

0     10472
1     11220
2     11417
3     11221
4     10032
      ...
95    11210
96    11224
97    10026
98    11233
99    10452
Length: 98, dtype: object